<main role="main">
    <img src="https://i.ytimg.com/vi/6jQ7y_qQYUA/maxresdefault.jpg" />

    <div id="form-box">
    <form>
        <div id="input-group" class="search-center">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 p-0 search-criteria">
                    <input type="text" class="form-control search-slt" placeholder="Enter City name">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                    <input type="text" class="form-control search-slt" placeholder="Enter Zip Code">
                </div>
                
                <div class="col-lg-4 col-md-3 col-sm-4 search-btn">
                    <button type="button" class="btn btn-success wrn-btn">Search</button>
                </div>
            </div>
        
        </div>

    </form>
    </div>


</main>
