<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-danger" id="grid">
                        Grid View
                    </button>
                </div>
            </div>
        </div>
    </div> 
    <div id="products" class="row view-group">
        <% @recycle_center.materials.each do |material| %>
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                          <%= material.name %>    
                        </h4>
                        <p class="group inner list-group-item-text">
                          <%= material.description %>
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $21.000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>