<div class="modal fade" id="category_modal_update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter the category title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with class: "nifty_form" do |category| %>
            <div class="row">
                <div class="col form-group">
                    <%= category.text_field :title, placeholder: "Category title", 
                      class: "form-control", id: "category_title_update", required: true %>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <%= category.text_area :description, placeholder: "Description", 
                      class: "form-control", id: "category_description_update", required: true %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-info" id="update_category_btn" data-dismiss="modal">Update Category</button>
            </div>
            <%= hidden_field_tag "category_id", ""  %>
        <% end %>
      </div>   
    </div>group
  </div>
</div>
