<div class="container pt-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center 
        pb-2 mb-3 border-bottom">
        <h1 class="h2">Categories list</h1>
    </div>
  
  <% if user_signed_in? &&  current_user.admin? %>
    <div class="space-around">
      <button type="button" class="btn btn-outline-info" data-toggle="modal" 
        data-target="#category-modal">
        Add new category
      </button>
    </div>
  <% end %>
  
  <%= render "admin/categories/category_modal" %>
  <%= render "admin/categories/update_modal" %>
  
  <div class="row space-around float-right">
    <div class="col">
      <button type="button" class="btn btn-info float-right">
        Total categories added <span class="badge badge-secondary"><%= @category_count %></span>
      </button>
    </div>  
  </div>

  <% if @category_count == 0 %>
    <div class="">
      <div class="jumbotron jumbotron-fluid space-around">
        <div class="container">
          <h1 class="display-6">No categories added yet!</h1>
          <p class="lead">You can add your desired category by clicking on "Add new category" button</p>
        </div>
      </div>
    </div>  
  <% else %>
    <%= render "admin/categories/category_table" %>
  <% end %>
</div>
